
body, html {
    margin: 0;
    padding: 0;
  }
  
  .header-banner {
    width: 100%;      /* Ocupar todo el ancho disponible */
    height: auto;     /* Mantener la proporción de la imagen */
    display: block;   /* Evitar espacios en línea */
    object-fit: cover;
    margin: 0;        /* Eliminar márgenes */
    padding: 0;       /* Eliminar padding */
    max-width: 100vw; /* Asegurar que no exceda el ancho de la ventana */
  }
  