.container {
  display: flex;
  padding: 10px;
  gap: 20px; /* Añade un espacio entre la sidebar y los productos */
}

.sidebar {
  width: 250px; /* Ajusta el ancho de la sidebar */
  border-right: 1px solid #ccc;
}

.product-list {
  flex-grow: 1;
  padding: 20px;
  background-color: rgb(90, 89, 87);
  display: flex;
  flex-direction: column;
}

.product-grid2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cambiado de space-around para más control */
  gap: 20px; /* Añade espacio entre las tarjetas */
}

.product-card {
  background-color: #ac9494; /* Color de fondo de las tarjetas */
  width: calc(33% - 20px); /* Calcula un ancho flexible que permite tres tarjetas por fila */
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.product-title {
  color: aliceblue;
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .product-card {
    width: calc(50% - 20px); /* Dos tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 100%; /* Una tarjeta por fila en pantallas pequeñas */
    margin: 10px 0;
  }
}
