body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #201b21; 
    /* background-color: #039fe0; */
    font-family: Arial, sans-serif;
  }
  
  .h1-title{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor principal tenga al menos el 100% de la altura de la ventana */
  }
  
  main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio restante entre el header y el footer */
  }
  
  footer {
    background-color: #039fe0;
    color: white;
    padding: 20px;
    text-align: center;
  }

